body {
  background-color: #eee;
  color: #000;
  font-size: 1rem;
}

hr {
  border: 3px dashed #000;
  border-style: none none dashed;
}

table {
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #00a1d2;
  color: white;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.container a {
  text-decoration: none;
  color: #0000EE;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2 {
  width: 96%;
}

