body {
  background-color: #eee;
  color: #000;
  font-size: 1rem;
}

hr {
  border: 2px solid #00a1d2;
}

table {
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #00a1d2;
  color: white;
}

.content {
    padding: 5px;
}
