body {
  background-color: #eee;
  color: #000;
  font-size: 1rem;
}

hr {
  border: 3px dashed #000;
  border-style: none none dashed;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.about {
  width: 100%;
  max-width: 200px;
  height: 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 0;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.container a {
  text-decoration: none;
  color: #0000EE;
}
